@media (prefers-color-scheme: light) {
  $primary-color: #bfd9e6 !default;
  $secondary-color: #2e3192 !default;

  html body,
  body {
    background-color: $primary-color !important;
  }

  .profile-image img {
    filter: drop-shadow(10px -10px 0 $secondary-color);
  }

  /* You can customize theme styles here */
  .header .navbar-brand span:first-child {
    color: $secondary-color !important;
  }

  .experience__company {
    color: $secondary-color !important;
  }

  .post a {
    color: $secondary-color !important;
  }
}

@media (prefers-color-scheme: dark) {
  $primary-color: #2e3192 !default;
  $secondary-color: #00aeef !default;
  html body,
  body {
    color: #fff !important;
  }
  html body,
  body {
    background-color: $primary-color !important;
  }

  .profile-image img {
    filter: drop-shadow(10px -10px 0 $secondary-color);
  }

  /* You can customize theme styles here */
  .header .navbar-brand span:first-child {
    color: $secondary-color !important;
  }

  .experience__company {
    color: $secondary-color !important;
  }

  .post a {
    color: $secondary-color !important;
  }
}

#experience,
#blog-single,
.blog {
  -webkit-box-flex: 1;
  flex: 1;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: revert;
}
